/* 🔹 MARQUEE ANIMATION */
@keyframes marquee {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  display: inline-block;        /* ✅ important */
  white-space: nowrap;          /* ✅ keep text in one line */
  animation: marquee 12s linear infinite;
}

/* 🔹 MARQUEE CONTAINER */
.marquee-wrapper {
  overflow: hidden;             /* ✅ hide extra text */
  width: 100%;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
.iframe-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}